html, body, button {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.App {
  width: 98dvw;
  height: 98dvh;
  margin: 0 1dvw;
  display: grid;
  grid-template-rows: 8dvh 90dvh;
}

.header-wrapper {
  width: 100%;
  height: 100%;
}

.scroll-element {
  opacity: 0;
  position: relative;
  width: 94dvw;
  margin: 0 3dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}
.scroll-element.visible {
  transition: opacity ease-in .5s;
  opacity: 1;
  position: relative;
  width: 94dvw;
  margin: 0 3dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .scroll-element.visible {
    height: 90dvh;
  }
}

/* for when component has no info to display */
.no-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-info > h1 {
  margin: 5px;
}
.no-info-button {
  transition: ease-in .2s;
  background: transparent;
  padding: 5px 10px;
  border: 1px solid rgba(173, 216, 230, 0.2);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}
.no-info-button:hover {
  transition: ease-in .2s;
  background: rgba(173, 216, 230, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.to-top-button {
  position: fixed;
  bottom: 10dvh;
  right: 3dvw;
  background: #7950F2;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

/* --- user not signed in yet (welcome page) --- */
.App-welcome-before{
  opacity: 0;
}
.App-welcome {
  transition: opacity ease-in 2s;
  opacity: 1;
  width: 100dvw;
  height: 100dvh;
  z-index: 10;
}
::-webkit-scrollbar {
  display: none;
}

/* navbar section */
.welcome-navbar {
  width: auto;
  height: 75px;
}
.Navbar {
  width: 94dvw;
  height: 100%;
  margin: 0 3dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-grid-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 20% 40%;
}

.navbar-left-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navButton {
  transition: ease-in .3s;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.navButton:hover {
  transition: ease-in .3s;
  cursor: pointer;
  background: #7950F2;
}

.navbar-date > h2 {
  font-weight: 200;
  font-size: 20px;
}
.navbar-date > h1 {
  font-weight: 600;
  font-size: 25px;
}

.navbar-right-button {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.navbar-right-button > img {
  width: 60px;
  height: 60px;
}

@media (max-width: 800px) {
  .navbar-grid-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 0 20%;
  }
  .navButton {
    width: 40px;
    height: 40px;
  }
  .navbar-date > h2 {
    font-size: 16px;
  }
  .navbar-date > h1 {
    font-size: 18px;
  }
  .navbar-right-button > img {
    width: 40px;
    height: 40px;
  }
}

/* landing section */
.welcome-items-container {
  position: relative;
  height: calc(100dvh - 75px);
  display: flex;
  flex-direction: column;
}
.back-mesh-fade {
  position: absolute;
  width: 150%;
  height: 91dvh;
  right: -20dvw;
  z-index: -1;
}
.back-mesh {
  width: 150%;
  rotate: 180deg;
}

.welcome-items {
  margin-top: 20dvh;
  margin-left: 10dvw;
  width: 40dvw;
}
.welcome-text {
  width: auto;
}
.welcome-text > h1 {
  font-size: 45px;
  font-weight: 300;
}
.welcome-button-container {
  width: auto;
  margin-top: 20px;
  z-index: 10;
}
.welcome-button-container > button {
  transition: ease-in .2s;
  width: 200px;
  height: 50px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  background: #7950F2;
}
.welcome-button-container > button:hover {
  transition: ease-in .2s;
  cursor: pointer;
  border: 3px solid white;
}

@media (max-width: 800px) {
  .back-mesh-fade {
    width: 200%;
    height: 150%;
  }
  .back-mesh {
    height: 50%;
  }
  .welcome-items {
    margin-top: 10dvh;
    margin-left: 5dvw;
    width: 60dvw;
  }
  .welcome-text > h1 {
    font-size: 35px;
  }
}

/* --- about section --- */
.welcome-about {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-right-icon {
  position: absolute;
  width: 25dvw;
  height: 40dvh;
  right: 5dvw;
  top: 30dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  position: absolute;
  animation: logoAnimation 4s linear infinite;
}
.hexagon {
  position: absolute;
  width: 100%;
  opacity: 0.1;
}

@keyframes logoAnimation {
  0%, 100% {
    width: 75%;
    rotate: 0deg;
  }
  10% {
    width: 75%;
    rotate: 360deg;
  }
  30% {
    width: 75%;
    rotate: 360deg;
  }
  50% {
    width: 70%;
    rotate: 360deg;
  }
  60% {
    width: 70%;
    rotate: 360deg;
  }
  70% {
    width: 70%;
    rotate: 0deg;
  }
  80% {
    width: 70%;
    rotate: 0deg;
  }
  90% {
    width: 75%;
    rotate: 0deg;
  }
}

.about-text {
  margin-left: 10dvw;
  width: 40dvw;
}
.about-text-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.about-text-header > img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.about-text-header > h1 {
  font-size: 45px;
  font-weight: 300;
}
.about-text > b {
  font-size: 25px;
  font-weight: 300;
}
/* services link button */
.explore-button-container {
  width: 150px;
  height: 35px;
  margin-top: 20px;
  z-index: 10;
}
.explore-button {
  transition: ease-in .2s;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  background: #7950F2;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
.explore-button:hover {
  transition: ease-in .2s;
  cursor: pointer;
  border: 3px solid white;
}
.explore-button > h2 {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .welcome-about {
    align-items: center;
  }
  .about-right-icon {
    width: 100%;
    top: -20dvh;
    right: 0;
  }
  .about-right-icon > img {
    width: 38%;
  }
  @keyframes logoAnimation {
    0%, 100% {
      width: 30%;
      rotate: 0deg;
    }
    10% {
      width: 30%;
      rotate: 360deg;
    }
    30% {
      width: 30%;
      rotate: 360deg;
    }
    50% {
      width: 25%;
      rotate: 360deg;
    }
    60% {
      width: 25%;
      rotate: 360deg;
    }
    70% {
      width: 25%;
      rotate: 0deg;
    }
    80% {
      width: 25%;
      rotate: 0deg;
    }
    90% {
      width: 30%;
      rotate: 0deg;
    }
  }
  .about-text {
    margin: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .explore-button-container {
    display: flex;
  }
}

/* --- services section --- */
.welcome-services {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.services-text {
  margin-right: 10dvw;
  width: 25dvw;
  z-index: 10;
}
.services-text-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.services-text-header > h1 {
  font-size: 45px;
  font-weight: 300;
}

.services-row-silver {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  height: 120px;
  margin: 5px 0;
}
.services-row-gold {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  height: 120px;
  margin: 5px 0;
}
.services-row-plat {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  height: 120px;
  margin: 5px 0;
}
.services-row-header {
  transition: ease-in .2s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}
.services-row-header > h1 {
  transition: ease-in .2s;
  font-weight: 300;
  margin-right: 5px;
}
.services-row-header > h2 {
  font-weight: 600;
}
.silver {
  color: silver;
}
.gold {
  color: gold;
}
.plat {
  color: lightblue;
}

.services-left-graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5dvw;
  top: 20dvh;
  width: 40dvw;
  height: 60dvh;
}
.services-left-graphic > img {
  width: 50%;
  z-index: 10;
}
.back-mesh-two-back {
  position: absolute;
  top: -25dvh;
  left: -20dvw;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-mesh-two {
  width: 200%;
  rotate: 15deg;
}

@media (max-width: 800px) {
  .welcome-services {
    align-items: end;
  }
  .back-mesh-two-back {
    width: 200%;
    height: 100%;
  }
  .back-mesh-two {
    height: 75%;
  }
  .services-text {
    margin: 0;
    margin-bottom: 5dvh;
    width: 100%;
  }
  .services-left-graphic {
    top: -15dvh;
    width: 90%;
  }
  .services-left-graphic > img {
    width: 25%;
  }
}

/* --- footer section --- */
.welcome-footer {
  width: 100%;
  height: 75px;
  background: #7950F2;
  display: flex;
  align-items: center;
}

.footer-text { 
  width: 94dvw;
  margin: 5px 3dvw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-img {
  height: 60px;
  filter: grayscale(100%) brightness(1000);
}
.footer-img:hover {
  cursor: pointer;
}

.footer-left {
  width: 400px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-left > h1 {
  font-size: 18px;
  font-weight: 300;
}
.footer-left-icons-container {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-left-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-left-icon > img {
  width: 100%;
  height: 100%;
}
.footer-left-icon:hover {
  cursor: pointer;
}

.footer-right {
  width: 400px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-right > h1 {
  font-size: 18px;
  font-weight: 300;
}
.footer-right-text-icon {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-right-icon {
  width: 30px;
  height: 30px;
  margin: 0 20px;
}
.footer-right-icon > img {
  width: 100%;
  height: 100%;
}
.footer-right-text-icon > a {
  transition: ease-in .2s;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}
.footer-right-text-icon > a:hover {
  transition: ease-in .2s;
  color: rgb(40, 44, 52);
}
.footer-right-text-icon > a:hover {
  cursor: pointer;
}

.footer-mobile {
  display: none;
}

@media (max-width: 800px) {
  .welcome-footer {
    height: 125px;
  }
  .footer-left-icons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .footer-left-icon {
    margin: 0;
    margin-left: 25%;
  }
  .footer-left {
    width: 40%;
    text-align: center;
  }
  .footer-left > h1 {
    font-size: 14px;
  }
  .footer-right {
    width: 40%;
    text-align: center;
  }
  .footer-right > h1 {
    font-size: 14px;
  }
  .footer-right-text-icon {
    display: flex;
    flex-direction: column;
  }
  .footer-right-text-icon > a > img {
    display: none;
  }
  .footer-mobile {
    display: flex;
    flex-direction: row;
  }
}
