/* default margins change */
h3, h2, h1 {
    margin: 2px;
}

/* takes up entire screen */
.blur-background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background:  rgba(173, 216, 230, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* actual popout */
.blur-popout-wrapper {
    border: 1px solid rgba(173, 216, 230, 0.2);
    background: #282c34;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    width: 30%;
    height: 60%;
}

/* all elems of popout container */
.blur-popout-container {
    margin: 5%;
    height: 90%;
}

/* elems of popout */
.Popout {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    height: 100%;
}

/* header, contains: name and exit button (top 10%) */
.popout-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* exit button (in header) */
.popout-exit {
    transition: ease-in .2s;
    height: 35px;
    width: 35px;
    background: transparent;    
    border: 1px solid rgba(173, 216, 230, 0.2);
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.popout-exit:hover {
    transition: ease-in .2s;
    cursor: pointer;
    background: rgba(173, 216, 230, 0.05);
}

/* body of popout (middle 80%) */
.popout-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* each row in body (text text) or (text input) */
.body-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.body-row > input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(173, 216, 230, 0.2);
    outline: none;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    width: 125px;
}
.body-row > input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* bottom 10% of popout */
.popout-done {
    transition: ease-in .2s;
    height: 80%;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid rgba(173, 216, 230, 0.2);
    border-radius: 5px;
}
.popout-done:hover {
    transition: ease-in .2s;
    background: rgba(173, 216, 230, 0.2);
    border-radius: 5px;
    cursor: pointer;
}
/* for profile bottom */
.popout-bottom {
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    align-items: center;
}