/* inside of each row (adds padding width) */
.credit-list-item {
    width: 98%;
    padding: 0 1%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* left side of each row (name & amount) */
.credit-list-heading {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.credit-list-heading > h1 {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}
.credit-list-heading > h2 {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

/* right side of each row (due & date) */
.credit-list-date {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.credit-list-date > h1 {
    font-weight: 600;
    margin: 0;
    font-size: 18px;
}
.credit-list-date > h2 {
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}