.Credit {
    width: 100%;
    height: 100%;
}

.Credit-error {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overall-header {
    height: 35px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.overall-body-grid {
    width: 100%;
    height: calc(100% - 35px);
    display: grid;
    grid-template-rows: 40% 60%;
}
.overall-body-top {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    align-items: center;
}
.overall-value > h2, .overall-date > h2 {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
}

.overall-value > h1, .overall-date > h1 {
    margin: 0;
    font-weight: 500;
    font-size: 25px;
}

.overall-chart {
    width: auto;
    height: 32vh;
}
.overall-top {
    width: 100%;
    height: 60%;
    margin: 20% 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.overall-list-item-wrapper {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.overall-info {
    height: 47.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1%;
    border: 1px solid rgba(173, 216, 230, 0.2);
    background: rgba(173, 216, 230, 0.05);
    border-radius: 5px;
}
.overall-info::-webkit-scrollbar {
    display: none;
}

.overall-list-item {
    height: 50px;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 29% 40% 25%;
}
.overall-list-heading {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.overall-list-heading > h1 {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}
.overall-list-heading > h2 {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

.overall-list-bar {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overall-list-bar > h1 {
    font-size: 10px;
    margin: 0 5px;
    font-weight: 400;
}

.overall-list-date {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.overall-list-date > h1 {
    font-weight: 600;
    margin: 0;
    font-size: 18px;
}
.overall-list-date > h2 {
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}

.is-past-due {
    display: flex;
    width: 100%;
    justify-content: center;
}
.is-past-due > h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}