.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-image-container, .header-profile-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-image-container > img, .header-profile-container > img {
    height: 40px;
}

.header-buttons-container {
    display: flex;
    flex-direction: row;
}

.links- {
    transition: ease-in .2s;
    color: rgb(190, 190, 190);
    text-decoration: none;
    width: fit-content;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;
    border-bottom: 2px solid transparent;
}
.links-:hover {
    transition: ease-in .2s;
    cursor: pointer;
    color: rgb(220, 220, 220);
}
.links-active {
    transition: ease-in .2s;
    color: white;
    text-decoration: none;
    width: fit-content;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;
    border-bottom: 2px solid white;
    border-radius: 2px;
}