/* inside of each row (adds padding width) */
.overall-list-item {
    height: 50px;
    width: 96%;
    margin: 0 2%;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 29% 40% 25%;
}

/* left side of each row (name & amount) */
.overall-list-heading {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.overall-list-heading > h1 {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}
.overall-list-heading > h2 {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

/* side bar chart (middle) of each row */
.overall-list-bar {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 0 and 30 on either side */
.overall-list-bar > h1 {
    font-size: 10px;
    margin: 0 5px;
    font-weight: 400;
}

/* right side of each row (due & date) */
.overall-list-date {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.overall-list-date > h1 {
    font-weight: 600;
    margin: 0;
    font-size: 18px;
}
.overall-list-date > h2 {
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}